In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import re
import string

In [2]:
data_fake = pd.read_csv("fake.csv")
data_true = pd.read_csv("True.csv")

In [3]:
data_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
data_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

In [ ]:
# Adding class labels
data_fake["class"] = 0
data_true["class"] = 1

# Removing last 10 entries for manual testing
data_fake_manual_testing = data_fake.tail(10)
data_true_manual_testing = data_true.tail(10)
data_fake = data_fake.iloc[:-10]
data_true = data_true.iloc[:-10]

In [ ]:
data_fake.shape , data_true.shape

In [ ]:
data_fake_manual_testing["class"]=0
data_true_manual_testing["class"]=1

In [ ]:
data_fake_manual_testing.head(10)

In [ ]:
data_merge =pd.concat([data_fake,data_true],axis =0)
data_merge.head(10)

In [ ]:
data_merge.columns

In [ ]:
data = data_merge.drop(["title","subject","date"],axis=1)

In [ ]:
data.isnull().sum()

In [ ]:
data = data.sample(frac =1)

In [ ]:
data.head()

In [ ]:
data.reset_index(inplace = True)
data.drop(["index"],axis=1,inplace=True)

In [ ]:
data.columns

In [ ]:
data.head()

In [ ]:
def wordopt(text):
    text =text.lower()
    text = re.sub('\[.*?\]','',text)
    text = re.sub("\\W"," ",text)
    text = re.sub("https?://\S+|www\S+","",text)
    text = re.sub("<.*?>+","",text)
    text = re.sub('[%s]' %re.escape(string.punctuation),'',text)
    text = re.sub("\n","",text)
    text = re.sub("\w*\d\w*","",text)
    return text

In [ ]:
data['text'] = data["text"].apply(wordopt)
x=data['text']
y =data['class']

In [ ]:
x_train , x_test,y_train,y_test = train_test_split(x,y,test_size=0.25)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorization = TfidfVectorizer()
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

LR = LogisticRegression()
LR.fit( xv_train , y_train)

In [ ]:
pred_lr = LR.predict(xv_test)

In [ ]:
LR.score(xv_test,y_test)

In [ ]:
print(classification_report(y_test,pred_lr))

In [ ]:
from sklearn.tree import DecisionTreeClassifier

DT = DecisionTreeClassifier()
DT.fit(xv_train,y_train)

In [ ]:
pred_dt = DT.predict(xv_test)

In [ ]:
DT.score(xv_test,y_test)

In [ ]:
print(classification_report(y_test,pred_lr))

In [ ]:
from sklearn.ensemble import GradientBoostingClassifier
GB = GradientBoostingClassifier(random_state =0)
GB.fit(xv_train,y_train)

In [ ]:
pred_gb = GB.predict(xv_test)

In [ ]:
GB.score(xv_test,y_test)

In [ ]:
print(classification_report(y_test,pred_bg))

In [ ]:
from sklearn.ensemble import RandomForestClassifier 
RF = RandomForestClassifier(random_state =0)
RF.fit(xv_train,y_train)

In [ ]:
pred_rf = Rf.predcit(xv_test)

In [ ]:
print(classification_report(y_test,pred_rf))

In [ ]:
def Output_Lable(n):
    if n==0:
        return 'Fake News'
    elif n==1:
        return 'True News'
    
    def Manual_Testing(news):
        testing_News=('text':[news])
        new_def_test = pd.DataFrame(testing_news)
        dew_def_test['text']=new_def_test["text"].apply(wordopt)
        new_x_test =new_def_test['test']
        new_xv_test = vectorizaton.transform(new_x_text)
        pred_LR =LR.predict(new_xv_test)
        pred_DT.predict(new_xv_test)
        pred_GB = GB.predict(new_xv_test)
        pred_RF = RF.predict(new_xv_test)
        return print("\n\nLR prediction : {} \n DT Prediction : {} \n GBC prediction : {} \n RFC prediction : {} ".format(outut_lable(red_LR[0])),output_lable(pred_GB[0]),output_lable(pred_RF[0]) )

In [ ]:
news = string(input())
manual_testing(news)